.btn0{
    position:absolute;
    left: 520px;
    top:210px;
    width:50px;
    height: 50px;
}
.btn1{
    position:absolute;
    left: 400px;
    top:150px;
    width:50px;
    height: 50px;
}
.btn2{
    position:absolute;
    left: 460px;
    top:150px;
    width:50px;
    height: 50px;
}
.btn3{
    position:absolute;
    left: 520px;
    top:150px;
    width:50px;
    height: 50px;
}
.btn4{
    position:absolute;
    left: 580px;
    top:150px;
    width:50px;
    height: 50px;
}
.btn5{
    position:absolute;
    left: 640px;
    top:150px;
    width:50px;
    height: 50px;
}
.btn6{
    position:absolute;
    left: 400px;
    top:210px;
    width:50px;
    height: 50px;
}
.btn7{
    position:absolute;
    left: 460px;
    top:210px;
    width:50px;
    height: 50px;
}
.btn8{
    position:absolute;
    left: 640px;
    top:210px;
    width:50px;
    height: 50px;
}
.btn9{
    position:absolute;
    left: 580px;
    top:210px;
    width:50px;
    height: 50px;
}